<?xml version="1.0"?>

<model>
  <name>Big box Mod</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Not Aurelien Roy</name>
    <email>notaurroy@hotmail.com</email>
  </author>
  
  <description>
    Item for warehouse environment.
  </description>

</model>
