<?xml version="1.0"?>
<model>
  <name>marker_87</name>
  <version>1.0</version>
  <description>
    Aruco marker marker_87 of 0.15 cm side
  </description>
  <author>
    <name>Julen Cayero</name>
    <email>julen.cayero@eurecat.org</email>
  </author>
  <sdf version='1.3'>marker_87.sdf</sdf>
</model>


